<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>

    <div layout:fragment="content">
        <h2>Clientes</h2>
        <form th:action="@{/cliente/buscar}" class="form-inline mb-2">
            <input type="text" name="termoBusca" class="form-control" placeholder="Digite o nome ou cpf">
            <input type="submit" value="Buscar" class="btn btn-success ml-2">
        </form>
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th></th>
            </tr>
            <tr th:each="c:${clientes}">
                <td th:text="${c.nome}"></td>
                <td th:text="${c.email}"></td>
                <td th:text="${c.cpf}"></td>
                <td>
                    <a th:href="@{/pedido/cadastrar/} + ${c.codigo}"
                       class="btn btn-outline-success">Fazer Pedido</a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>