<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Restaurante</title>
</head>
<body>

    <form action="/restaurante/cadastrar" method="post">
        <div>
            <label for="id-nome">Nome</label>
            <input type="text" name="nome" id="id-nome">
        </div>
        <div>
            <label for="id-fat">Faturamento</label>
            <input type="text" name="faturamento" id="id-fat">
        </div>
        <div>
            <label for="id-end">Endereço</label>
            <input type="text" name="endereco" id="id-end">
        </div>
        <input type="submit" value="Cadastrar">
    </form>

</body>
</html>