<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Gravadoras</title>
</head>
<body>

    <div layout:fragment="content">
        <h2>Lista de Gravadoras</h2>

        <div th:if="${mensagem != null}" th:text="${mensagem}" class="alert alert-success"></div>

        <form class="form-inline" th:action="@{/gravadora/buscarGravadoras}" method="get">
            <input placeholder="Digite o nome" type="text" name="termoPesquisa" class="form-control">
            <input type="submit" value="Buscar" class="btn btn-success ml-1">
        </form>
        <br>
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Faturamento</th>
                <th>Internacional</th>
                <th>Data Abertura</th>
                <th></th>
            </tr>
            <tr th:each="item:${gravadoras}">
                <td th:text="${item.nome}"></td>
                <td th:text="${item.faturamento}"></td>
                <td th:text="${item.internacional?'Sim':'Não'}"></td>
                <td th:text="${#temporals.format(item.dataAbertura,'dd/MM/yyyy')}"></td>
                <td>
                    <a class="btn btn-outline-dark btn-sm" th:href="@{/gravadora/editar/} + ${item.codigo}">Editar</a>
                    <!-- Button trigger modal -->
                    <button th:onclick="|idGravadora.value = ${item.codigo}|" type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                        Deletar
                    </button>
                </td>
            </tr>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir a gravadora?
                    </div>
                    <div class="modal-footer">
                        <form method="post" th:action="@{/gravadora/excluir}">
                            <input type="hidden" name="id" id="idGravadora">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                            <button type="submit" class="btn btn-danger">Sim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>